data/
datasets
faces
input_files
no_tracking
/other_files/
.idea
source/__pycache__
source/audio_analysis_utils/__pycache__
output_files
source/face_emotion_utils/__pycache__/
VideoBufferFolder
/backup/
tuner/
.vs/
__pycache__/
*.pyc
bkp/
/models/face/face_model_early_stop.h5
/dataset/


source/whisper/__pycache__/
*.py[cod]
*$py.class
*.egg-info
source/whisper/.pytest_cache
source/whisper/.ipynb_checkpoints

source/whisper/thumbs.db
source/whisper/.DS_Store
source/whisper/.idea

venv/
